<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试参数</title>
</head>
<script src="/static/layui.js" type="text/javascript"></script>
<script src="/static/xadmin.js" type="text/javascript"></script>
<script src="/static/jquery.3.2.1.min.js" type="text/javascript"></script>
<link href="/static/font.css" rel="stylesheet">
<link href="/static/xadmin.css" rel="stylesheet">
<style type="text/css">
    .d1 {
        border: 5px solid red;
        width: 680px;
        height: 180px;
        text-align: center;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 100px;
    }
</style>
<body>
<div class="d1">
    <form id="form" action="" method="post">

        <div class="layui-input-block">
            <label class="layui-form-label">测试OfferId:</label>
            <input style="width: 180px;height: 30px" id="typeOffer" type="number" value="" name="typeOffer">
        </div>
        <div class="layui-input-block">
            <label class="layui-form-label">URL:</label>
            <input style="width: 480px;height: 30px" id="url" type="text" value="" name="url">
        </div>
        <div>
            <button style="height: 58px;width: 180px;color: #222222;border: blue 3px double;margin-top: 30px;"
                    class="layui-btn"
                    type="submit" onclick="javascript:param();"><h1>提交</h1>
            </button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function param() {

        let url = $("#url").val();
        let typeOffer = $("#typeOffer").val();
        $.ajax({
            url: "/testSelenium",
            type: "POST",
            data: {
                url: url,
                typeOffer: typeOffer,
            },
            dataType: "json",
            success: function (data) {
                if (data) {
                    confirm("已经自动化测试5次！")
                    document.getElementById("typeOffer").value = data.typeOffer;
                    document.getElementById("url").value = data.url;
                }
            }
        });
    }
</script>
</html>